
<div class="form center">
  <div class="field">
      <div class="col-md-12">
        <h5 class="font center">Email</h5>
      </div>
      <%= form_for :user, :url=>{:controller=>"users", :action=>"inviter"}  do |f|%>
        <%= f.hidden_field :group_id, :value => @group.id %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.submit "Invite Member", class: "btn btn-primary center" %>
      <% end %>
  </div>
</div>
