@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.createGroup {
}
#modal-window {}


.containers {
  position: relative;
  min-height: 80vh;
  width: 100%;
}
select {
  border: 0px solid black;
  border-radius: 25px;
  padding: 15px;
  width: 50%;
}
.formInput {
  border: 0px solid black;
  border-radius: 25px;
}
.halfWidth {
  width: 50%;
}
.right {
  text-align: right;
}
.invite {
  background-color:white;
}
.left {
  text-align: left;
}
.fullWidth {
  width: 100%;
}
.group {
  background-color:#3e393933;
}
.white {
  padding: 15px;
  color: white;
  text-align: center;
}
.padding {
  padding: 15px;
}
.margin-left {
  margin-left:50px;
}
.center {
  text-align: center;
}
.fonts {
  color: #004d16;
}
.border{
    border: 1px solid #201c1c;
    margin: 15px;
    border-radius: 10px;

}

.border-bottom {
  border-bottom: 1px solid #f6efe5;
}
/* footer */

footer {
  position: relative;
  height: 50px;
  background-color: #3e3939b3;
  color: white;
  a {
    color: white;
    &:hover {
      color: red;
    }
  }
    li {
      display: inline-table;
      float: right;
      margin-right: 35px;
      padding: 10px;
    }

}
header {
  background-color: #3e3939b3;
  margin-top: 0px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: white;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
.font {
  text-align: left;
  color: #f9af3d;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 30px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
body {
  position: relative;
  background-image: url("8.jpg");


}

